<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-default"> 
				<h5 class="card-header"><b>ID:</b> {{ post.post_id }}
				</h5>
				<div class="card-body">
				<p class="card-text"><b>Head:</b> {{ post.headline }}
				</p>
				</div>
				<div class="card-footer">
                                <p class"card-text"><b>Datetime:</b> {{ post.timestamp }}
                                </p>
				</div>
                                <div class="card-body">
                                <p class="card-text"><b>Author Genre:</b>{% if user.genre %} 
                                {{ post.author.genre|join('[ ') }} {% endif %}
				</p>
				</div>
				<p><a class="btn" href="{{ url_for('post', post_id=post.post_id) }}">View details »</a>				
                                <hr align="center" width="1200" color="Red" />
			</div>
		</div>
	</div>
</div>
